<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="final_logo.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header style="position: fixed;">
      <div class="container">
        <a id="a-title" href="{{relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="Links">
          {% if site.show_downloads %}
            <a href="mailto:omkar.sabnis98@gmail.com" class="btn btn-email"><span class="fa fa-envelope"></span>My Email</a>
            <a href="https://www.linkedin.com/in/ovs3103/" class="btn btn-linkedin"><span class="fa fa-linkedin-square"></span>My LinkedIn Page</a>
            <a href="https://scholar.google.com/citations?user=XCZbtzgAAAAJ&hl=en&oi=ao" class="btn"><span class="fa fa-graduation-cap"></span>My Google Scholar Page</a>
            <a href="https://github.com/osabnis" class="btn btn-email"><span class="fa fa-envelope"></span>My GitHub page</a>
            <a href="https://www.kaggle.com/omkarsabnis" class="btn btn-email"><span class="fa fa-envelope"></span>My Kaggle page</a>
          {% endif %}
          
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
